@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Vahapp is developed with ASP.NET web framework. </p>
    <p>Project was initiated as a part of SCRUM and agile methods in programming course organized by</p> 
    <a href="https://careeria.fi/en/careeria-in-english/">Careeria</a>
    <p></p>
</main>